<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>JDBC3</display-name>

    <servlet>
        <servlet-name>classInfo</servlet-name>
        <servlet-class>servlet.ClassInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classInfo</servlet-name>
        <url-pattern>/classInfoReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showclassInfo</servlet-name>
        <servlet-class>servlet.ClassInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showclassInfo</servlet-name>
        <url-pattern>/showclassInfoReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addStuInfo</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStuInfo</servlet-name>
        <url-pattern>/addStuInfoReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>findstuInfoBySno</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findstuInfoBySno</servlet-name>
        <url-pattern>/findStudentBySno</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateStuBalance</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateStuBalance</servlet-name>
        <url-pattern>/chargeReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showChargeInfo</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showChargeInfo</servlet-name>
        <url-pattern>/showChargeInfoReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>findstuInfo</servlet-name>
        <servlet-class>servlet.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findstuInfo</servlet-name>
        <url-pattern>/findAllStudentByClassId</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addTradeInfo</servlet-name>
        <servlet-class>servlet.TradeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTradeInfo</servlet-name>
        <url-pattern>/addtradeInfoReq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showTradeInfo</servlet-name>
        <servlet-class>servlet.TradeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showTradeInfo</servlet-name>
        <url-pattern>/showTradeInfoReq</url-pattern>
    </servlet-mapping>
</web-app>